*{
    padding:0;
    margin:0;
}

html,body{
    height:100%;
    width:100%;
    background-color: rgb(206, 193, 193);
    color: aliceblue;
    /* transform: translate(-10%); */
}
.main{
     height: 100%; 
    width:100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0%,0%);
    gap:50px;
    flex-direction: column;
    border: 10px solid rgb(190, 186, 186);
    border-radius: 40%;
    background-color: rgb(233, 230, 227);

}
h1{
    font-size: 80px;
    padding: 40px 50px;
    background-color: gainsboro;
    color: black;
    font-weight: bolder;
    border-radius: 15px;
    letter-spacing: 4px;
    font-family: monospace;
    border: 10px solid lightgoldenrodyellow;
}
button{
    /* width:100px; */
    padding:15px 15px;
    font-size: 19px;
    border-radius: 30px;
    font-weight: bolder;
    line-height: 20px; 
    letter-spacing: 3px;
    background-color: aquamarine;
    border: 5px solid darkgreen;
}  
.box{
    height: 200px;
    width:300px;
    padding: 10px 30px;
    text-align: center;
    background-color:rgb(245, 213, 213);
    border-radius: 20%;
    border: 10px solid rgb(187, 15, 115)

}
h5{
    font-size: 30px;
    color: black;
    line-height: 40px;
    letter-spacing: 4px;
    
}

button:active{
    scale:.95;
}
